body {
  font-family: Arial, sans-serif;
}

fieldset {
  width: 450px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

table td {
  padding: 6px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="confirm password"],
input[type="DOB"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #7f7fe6, #69eacb);
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

p a {
  color: darkkhaki;
  text-decoration: none;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/premium-vector/dark-blue-abstract-vector-background-with-overlapping_49459-451.jpg?semt=ais_se_enriched&w=740&q=80");
  background-size: cover;
  background-position: center;
  margin: 30;
  padding: 35;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
fieldset {
  width: 50%;
  border-radius: 8px;
  background-color: rgba(3, 20, 27, 0.801);
}
legend {
  font-weight: bold;
  color: #7661b5;
  font-size: 18px;
}
table {
  width: 70%;
  border-spacing: 10px;
}
table img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

td {
  padding: 6px;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="radio"] {
  margin-left: 10px;
}
label,
p {
  color: white;
}
